<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="MasterKey:UnlockChildItems" type="MasterKey.UnlockChildItems,MasterKey"/>
      <command name="MasterKey:UnlockItem" type="MasterKey.UnlockItem,MasterKey"/>
    </commands>
    <pipelines>
      <getItemsToUnlock>
        <processor type="MasterKey.Pipelines.UnlockItems.GetItems, MasterKey" method="AssertItem" />
        <processor type="MasterKey.Pipelines.UnlockItems.GetItems, MasterKey" method="GetChildItems" />
      </getItemsToUnlock>
    </pipelines>
    <processors>
      <UnlockItemsChildren>
        <processor type="MasterKey.Pipelines.UnlockItems.UnlockItems, MasterKey" method="DetermineIfItemHasUnlockableChildren"/>
        <processor type="MasterKey.Pipelines.UnlockItems.UnlockItems, MasterKey" method="ConfirmUnlockChildren">
          <UnlockChildrenMessage>Do you want to unlock this item's children?</UnlockChildrenMessage>
          <UnlockChildrenMessageWidth>500</UnlockChildrenMessageWidth>
          <UnlockChildrenMessageHeight>500</UnlockChildrenMessageHeight>
        </processor>
        <processor type="MasterKey.Pipelines.UnlockItems.UnlockItems, MasterKey" method="GetChildrenToUnlock"/>
        <processor type="MasterKey.Pipelines.UnlockItems.UnlockItems, MasterKey" method="UnlockChildItems"/>
      </UnlockItemsChildren>
      <UnlockChildren>
        <processor type="MasterKey.Pipelines.UnlockItems.UnlockItems, MasterKey" method="DetermineIfItemHasUnlockableChildren"/>
	      <processor type="MasterKey.Pipelines.UnlockItems.UnlockItems, MasterKey" method="GetChildrenToUnlock"/>
        <processor type="MasterKey.Pipelines.UnlockItems.UnlockItems, MasterKey" method="UnlockChildItems"/>
      </UnlockChildren>
    </processors>
  </sitecore>
</configuration>