<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="MasterKey:UnlockChildItems" type="MasterKey.UnlockChildItems,ChildrenUnlocker"/>
      <command name="MasterKey:UnlockItem" type="MasterKey.UnlockItem,ChildrenUnlocker"/>
    </commands>
  </sitecore>
</configuration>
