<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="MasterKey:UnlockChildItems" type="JonathanRobbins.MasterKey.UnlockChildItems,JonathanRobbins.MasterKey"/>
      <command name="MasterKey:UnlockItem" type="JonathanRobbins.MasterKey.UnlockItem,JonathanRobbins.MasterKey"/>
    </commands>
    <pipelines>
      <getItemsToUnlock>
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.GetItems, JonathanRobbins.MasterKey" method="AssertItem" />
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.GetItems, JonathanRobbins.MasterKey" method="GetChildItems" />
      </getItemsToUnlock>
    </pipelines>
    <processors>
      <uiUnlockItemsChildren>
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.UnlockItems, JonathanRobbins.MasterKey" method="DetermineIfItemHasLockedChildren"/>
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.UnlockItems, JonathanRobbins.MasterKey" method="DetermineIfItemsAreWritable"/>
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.UnlockItems, JonathanRobbins.MasterKey" method="ConfirmUnlockChildren">
          <UnlockChildrenMessage>Do you want to unlock this item's children as well?</UnlockChildrenMessage>
          <UnlockChildrenMessageWidth>435</UnlockChildrenMessageWidth>
          <UnlockChildrenMessageHeight>225</UnlockChildrenMessageHeight>
        </processor>
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.UnlockItems, JonathanRobbins.MasterKey" method="GetChildrenToUnlock"/>
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.UnlockItems, JonathanRobbins.MasterKey" method="UnlockChildItems"/>
      </uiUnlockItemsChildren>
      <uiUnlockChildren>
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.UnlockItems, JonathanRobbins.MasterKey" method="DetermineIfItemHasLockedChildren"/>
	      <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.UnlockItems, JonathanRobbins.MasterKey" method="GetChildrenToUnlock"/>
        <processor type="JonathanRobbins.MasterKey.Pipelines.UnlockItems.UnlockItems, JonathanRobbins.MasterKey" method="UnlockChildItems"/>
      </uiUnlockChildren>
    </processors>
  </sitecore>
</configuration>